<!DOCTYPE html>
<html lang="en">

<head>
  <meta content="text/html" charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- get fontawesome icons -->
  <script src="https://kit.fontawesome.com/c75fafe66a.js" crossorigin="anonymous"></script>
  <!-- Get fonts from Google -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Silkscreen&display=swap" rel="stylesheet">
  <!-- get styles -->
  <link rel="stylesheet" href="css/style.css" content="text/css">
  <link rel="stylesheet" href="css/forms.css" content="text/css">
  <title>Jay Breen</title>
</head>